/deps
/_build
/priv/static/cache_manifest.json
/erl_crash.dump
/ebin
*.ez
/package
# Added by Gemini
/doc
perimeter-*.tar
# Test coverage
/cover
# Operating system files
.DS_Store
ehthumbs.db
Thumbs.db
# IDE files
.idea
.vscode